<launch>

 <arg name="launch_tcp_node" default="True"/>
 
 <node pkg="spot_tools_core" name="asa_anchor_rotator" type="asa_anchor_rotator_node.py" output="screen"/>
 <include file="$(find spot_tools_core)/launch/cmd_republisher.launch"/>
 <include file="$(find spot_tools_core)/launch/odom_republisher.launch"/>
 
 <node pkg="spot_tools_core" name="asa_request_helper" type="asa_anchor_find_request_helper.py" output="screen" />
 <include file="$(find asa_ros)/launch/asa_ros.launch"/>
 <include file="$(find spot_tools_core)/launch/ros_tcp_endpoint.launch" if="$(arg launch_tcp_node)" />

</launch>